<div class="hero-banner-container">
    <div>

        <p class="beats-solo">{{ heroBanner.smallText }}</p>
        <h3>{{heroBanner.midText }}</h3>
        <h1>{{heroBanner.largeText1}}</h1>
        <img src="{{imageUrl(heroBanner.image)}}" alt="headphones" class="hero-banner-image">
        <div>
            <button type="button">{{heroBanner.buttonText}}</button>
            <div class="desc">
                <h5>description</h5>
                <p>{{heroBanner.desc}}</p>
            </div>
        </div>
    </div>
</div>